{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header d-print-none">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="page-title">
                    Update user "{{ user }}"
                </h2>
            </div>
        </div>
    </div>
    {{ form_start(form) }}
    <div class="card">
        <div class="card-body">
            {{ form_rest(form) }}
        </div>
        <div class="card-footer text-center">
            <button class="btn btn-primary">
                <i class="fas fa-save"></i> Save
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
